<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Helvetica;
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:"Arial Unicode MS";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;
	border:none;}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{margin:0cm;
	page-break-after:avoid;
	font-size:30.0pt;
	font-family:"Helvetica",sans-serif;
	color:black;
	border:none;
	font-weight:bold;}
p.MsoSubtitle, li.MsoSubtitle, div.MsoSubtitle
	{margin:0cm;
	page-break-after:avoid;
	font-size:20.0pt;
	font-family:"Helvetica",sans-serif;
	color:black;
	border:none;}
p.Corps, li.Corps, div.Corps
	{mso-style-name:Corps;
	margin:0cm;
	font-size:11.0pt;
	font-family:"Helvetica",sans-serif;
	color:black;
	border:none;}
.MsoChpDefault
	{font-size:10.0pt;
	border:none;}
 /* Page Definitions */
 @page WordSection1
	{size:595.3pt 841.9pt;
	margin:2.0cm 2.0cm 2.0cm 2.0cm;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=FR link="#000000" vlink=fuchsia style='word-wrap:break-word'>

<div class=WordSection1>

<p class=MsoTitle>Conditions générales d'utilisation du site wojakparadise.net</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>&nbsp;</p>

<p class=MsoSubtitle>ARTICLE 1 : Objet</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Les pré<span lang=PT>sentes </span>« conditions générales
d'utilisation <span lang=IT>» </span>ont pour objet l'encadrement juridique de
l’utilisation du site wojakparadise.net et de ses services.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Ce contrat est conclu entre :</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Le gérant du site internet, ci-après désigné
«&nbsp;l’Éditeur&nbsp;»,</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Toute personne physique ou morale souhaitant accéder au site et
à ses services, ci-après appelé «&nbsp;l’Utilisateur&nbsp;».</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Les conditions générales d'utilisation doivent être acceptées par
tout Utilisateur, et son accès au site vaut acceptation de ces conditions.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>&nbsp;</p>

<p class=MsoSubtitle>ARTICLE 2 : Mentions légales</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Le site wojakparadise.net est édité par Laborde-Laulhé Alban et (Alice) Charrié.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>&nbsp;</p>

<p class=MsoSubtitle><span lang=DE>ARTICLE </span>3 : accès aux services</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>L’Utilisateur du site wojakparadise.net a accès aux services
suivants :</p>

<p class=Corps style='margin-left:9.0pt;text-indent:-9.0pt'><span
style='position:relative;top:1.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Consultation du site</p>

<p class=Corps style='margin-left:9.0pt;text-indent:-9.0pt'><span
style='position:relative;top:1.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Inscription et connexion au site</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Tout Utilisateur ayant accès a internet peut accéder gratuitement
et depuis n’importe où au site. Les frais supportés par l’Utilisateur pour y
accéder (connexion internet, matériel informatique, etc.) ne sont pas à la
charge de l’Éditeur.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Les services suivants ne sont pas accessible pour l’Utilisateur
que s’il est membre du site (c’est-à-dire qu’ile st identifié à l’aide de ses
identifiants de connexion) :</p>

<p class=Corps style='margin-left:9.0pt;text-indent:-9.0pt'><span
style='position:relative;top:1.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Publication sur le site</p>

<p class=Corps style='margin-left:9.0pt;text-indent:-9.0pt'><span
style='position:relative;top:1.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Enregistrement des préférences</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Le site et ses différents services peuvent être interrompus ou
suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans
obligation de préavis ou de justification.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>&nbsp;</p>

<p class=MsoSubtitle><span lang=DE>ARTICLE </span>4 : Responsabilité de
l’Utilisateur</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>L'Utilisateur est responsable des risques liés à l’utilisation
de son identifiant de connexion et de son mot de passe. </p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Le mot de passe de l’Utilisateur doit rester secret. En cas de
divulgation de mot de passe, l’Éditeur décline toute responsabilité.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>L’Utilisateur assume l’entière responsabilité de l’utilisation
qu’il fait des informations et contenus présents sur le site [votre site].</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Tout usage du service par l'Utilisateur ayant directement ou
indirectement pour conséquence des dommages doit faire l'objet d'une
indemnisation au profit du site.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Le site permet aux membres de publier sur le site :</p>

<p class=Corps style='margin-left:9.0pt;text-indent:-9.0pt'><span
style='position:relative;top:1.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Images</p>

<p class=Corps style='margin-left:9.0pt;text-indent:-9.0pt'><span
style='position:relative;top:1.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Favoris</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Le membre s’engage à tenir des propos respectueux des autres et
de la loi et accepte que ces publications soient modérées ou refusées par
l’Éditeur, sans obligation de justification. </p>

<p class=Corps>&nbsp;</p>

<p class=Corps>En publiant sur le site, l’Utilisateur cède à la société
éditrice le droit non exclusif et gratuit de représenter, reproduire, diffuser
et distribuer sa publication, directement ou par un tiers autorisé.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>L’Éditeur s'engage toutefois à citer le membre en cas
d’utilisation de sa publication</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>&nbsp;</p>

<p class=MsoSubtitle>ARTICLE 5 : Responsabilité de l’Éditeur</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Tout dysfonctionnement du serveur ou du réseau ne peut engager
la responsabilité de l’Éditeur.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>De même, l<span lang=PT>a responsabilit</span>é du site ne peut
être engagée en cas de force majeure ou du fait imprévisible et insurmontable
d'un tiers.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Le site wojakparadise.net s'engage à mettre en œuvre tous les
moyens nécessaires pour<span lang=IT> garantir</span><span lang=IT> </span><span
lang=IT>la s</span>écurité et la confidentialité des donné<span lang=PT>es.</span>
Toutefois, il n’apporte pas une garantie de sécurité totale.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>L’Éditeur se réserve la faculté d’une non-garantie de la
fiabilité des sources, bien que les informations diffusées su le site soient
réputées fiables.</p>

<p class=Corps>&nbsp;</p>

<p class=MsoSubtitle><span lang=DE>ARTICLE </span>6 : Propriété intellectuelle</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Les contenus du site wojakparadise.net (logos, textes, éléments
graphiques, vidéos, etc.) son protégés par le droit d’auteur, en vertu du Code
de la propriété intellectuelle.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>L’Utilisateur devra obtenir l’autorisation de l’éditeur du site
avant toute reproduction, copie ou publication de ces différents contenus.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Ces derniers peuvent être utilisés par les utilisateurs à des
fins privées ; tout usage commercial est interdit.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>L’Utilisateur est entièrement responsable de tout contenu qu’il
met en ligne et il s’engage à ne pas porter atteinte à un tiers.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>L’Éditeur du site se réserve le droit de modérer ou de supprimer
librement et à tout moment les contenus mis en ligne par les utilisateurs, et
ce sans justification.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>&nbsp;</p>

<p class=MsoSubtitle><span lang=DE>ARTICLE </span>7 : Données personnelles</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>L’Utilisateur doit obligatoirement fournir des informations
personnelles pour procéder à son inscription sur le site. </p>

<p class=Corps>&nbsp;</p>

<p class=Corps>L’adresse électronique (e-mail) de l’utilisateur pourra
notamment être utilisée par le site wojakparadise.net pour la communication
d’informations diverses et la gestion du compte.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>wojakparadise.net garantie le respect de la vie privée de
l’utilisateur, conformément à la loi n<span lang=IT>°</span>78-17 du 6 janvier
1978 relative à l'informatique, aux fichiers et aux libertés.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>En vertu des articles 39 et 40 de la loi en date du 6 janvier
1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de
suppression et d'opposition de ses données personnelles. L'Utilisateur exerce
ce droit via :</p>

<p class=Corps>&nbsp;</p>

<p class=Corps style='margin-left:9.0pt;text-indent:-9.0pt'><span
style='position:relative;top:1.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Son espace personnel sur le site ;</p>

<p class=Corps style='margin-left:9.0pt;text-indent:-9.0pt'><span
style='position:relative;top:1.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>P<span lang=PT>ar mail </span>à admin@wojakparadise.net</p>

<p class=Corps>&nbsp;</p>

<p class=MsoSubtitle>ARTICLE 8 : Liens hypertextes</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Les domaines vers lesquels mènent les liens hypertextes présents
sur le site n’engagent pas la responsabilité de l’Éditeur de wojakparadise.net,
qui n’a pas de contrôle sur ces liens.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Il est possible pour un tiers de créer un lien vers une page du
site [votre site] sans autorisation expresse de l’éditeur.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>&nbsp;</p>

<p class=MsoSubtitle>ARTICLE 9 : Évolution des conditions générales
d’utilisation</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Le site wojakparadise.net se réserve le droit de modifier les
clauses de ces conditions générales d’utilisation à tout moment et sans
justification.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>&nbsp;</p>

<p class=MsoSubtitle>ARTICLE 10 : Durée du contrat</p>

<p class=Corps>&nbsp;</p>

<p class=Corps><span lang=IT>La dur</span>ée du présent contrat est indéterminée.
Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de
l’utilisation du service.</p>

<p class=Corps>&nbsp;</p>

<p class=Corps>&nbsp;</p>

<p class=MsoSubtitle>ARTICLE 11 : Droit applicable et juridiction compé<span
lang=IT>tente</span></p>

<p class=Corps>&nbsp;</p>

<p class=Corps>Le présent contrat dépend de la législation française.          </p>

<p class=Corps>&nbsp;</p>

</div>

</body>

</html>
