<!DOCTYPE html>
<html>
  <head>
    <title>Wojak Paradise</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/wojak_view.css" />
    
  </head>
  <body>
    <div class="vertical"><%- include('vertical_menu')%></div>

    <div class="horizontal">
      <%- include('horizontal_menu')%>

      <div class="main-content">
          <div class="pres">
            <div>An email has been sent to your mailbox, please check it and click on the link indicated to verify your email.</div>
            <a href="/">Go back to the main page</a>
        </div>          
    </div>
  </body>
</html>
