<!DOCTYPE html>
<html>
  <head>
    <title>Wojak Paradise</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/wojak_view.css" />
    <link rel="stylesheet" href="/stylesheets/login.css"/>

  </head>
  <body>
    <div class="vertical"><%- include('vertical_menu')%></div>

    <div class="horizontal">
      <%- include('horizontal_menu')%>

      <div class="main-content">
         <div class="login_main">
          <div class="login_head">
            Put your the email you registered to create a new password :
          </div>

          <div class="login_local">
            <form action="/auth/local/forgot" method="POST">

              <div class="email_container l_con">
                <label for="email">Email :</label>
                <input type="email" name="email" id="email" required>
              </div>

              <input type="submit" id="submit" value="Submit"> 

            </form>
          </div>

         </div>
    </div>
  </body>
</html>
