//Temporaire
body {
  margin: 0px;
  padding: 0px;
}

.vertical_menu {
  width: 100%;
  height: 100%;
  background-color: #7a021e;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  color: white;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (orientation:portrait){
    display: none;
  }
}

.vm_up {
  min-height: 40%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  .link_img{
    margin: 20px;
    min-height: 85%;
    width: 98%;
    margin-bottom: -10%;
    margin-top: -10%;

    display: block;
  }

  img {
    width: 100%;
    height: 100%;  
    object-fit: contain;    
  }


  .vm_title {
    height: 10%;
    width: 100%;
    font-size: 3.5em;
    font-weight: bold;

    text-align: center;
    font-style: italic;
  }
}

.vm_down {
  margin-top: 0;
  margin-left: 10%;
  height: 55%;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-content: center;

  .vm_down_title {
    font-size: 2.5em;
    text-decoration: underline;
  }

  .vm_tags {
    width: 80%;

    margin-top: 3%;
    height: 97%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    font-size: 2em;

    .vm_tag {
      margin-top: 10px;
      margin-left: 5%;
      width: 95%;
    }
  }
}
